
/* level 1: static properties */

.ht.selected{
	background:lavender;
}

.ht.active{
	background:lime;
}

/* level 2: dynamic properties */

.ht.hover:hover{
	background:#eeeeee;
}

/* level 3: functional properties */

.ht.cmd {
	color: green;
	text-decoration: underline;
	cursor: pointer;
	font-size: 9pt;
}
.ht.cmd:hover{
	background:#eeeeee;
}